.navbar {
  background-color: $brand-primary;
  a {
    color: black;
  }

  .navbar-nav > .active > a, a:hover, a:focus {
    background-color: darken($brand-primary, 15%);
  }
}
.navbar-brand {
  margin-left: 10px;
  padding-top: 0px;

  img {
    height: 2.5em;
  }
}
.avatar {
  border-radius: 50%;
  width: 2.5em;
  margin: $base-spacing / 4 ;
}
