.poll-item {
  display: block;
  vertical-align: middle;
  overflow: auto;

  h2 {
    float: left;
    margin: 0px;
  }

  img {
    float: left;
    margin: 0 10px 0 0;
  }

  .action-buttons {
    display: inline-block;
    float: right;
  }
}

.progress {
  margin-bottom: 0px;
}

.progress-title {
  text-transform: capitalize;
  margin-top: 0px;
}

.panel-heading {
  text-transform: capitalize;
}
