// Font Sizes
$base-font-size: 1.1em;
$small-font-size: $base-font-size * 0.8;
$base-letter-spacing: 0.1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$brand-primary: #EEEF52;;

$blue: #0D9FFF;
$vibrant-blue: #0055bb;
$teal: #44bbcc;
$blue-green: #225533;
$light-blue: #bbeeff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: darken(#fff, 5%);

