<template name="Header">
  {{#if currentUser}}
    {{> LoggedInHeader}}
  {{else}}
    {{> JumboHeader}}
  {{/if}}
</template>

<template name="JumboHeader">
  <div class="jumbotron">
    <div class="text-center container">
      <a href="/"><img
        src="http://img4.wikia.nocookie.net/__cb20140224023949/althistory/images/9/9a/Vote-icon.png"
        alt="Voting App"></a>
      <p>Create custom polls with live results.</p>
      <p><a class="btn btn-primary btn-lg" href="{{pathFor 'login'}}" role="button">Sign In / Join</a></p>
    </div>
  </div>
</template>

<template name="LoggedInHeader">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars fa-lg"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="http://img4.wikia.nocookie.net/__cb20140224023949/althistory/images/9/9a/Vote-icon.png" alt="Voting App"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="{{isActivePath regex='/$'}}"><a href="{{pathFor 'home'}}"><i class="fa fa-home fa-lg"></i></a></li>
          {{#if currentUser}}
            <li class="{{isActivePath regex='polls$'}}"> <a href="{{pathFor 'polls'}}">My Polls</a> </li>
            <li> <img class="avatar" src="{{currentUser.profile.avatar}}"> </li>
            <li> <a role="logout" href="#"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          {{else}}
            <li class="{{isActivePath regex='login'}}"><a href="{{pathFor 'login'}}">Login</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>


