<template name="Poll">
  {{#pollHeader}}
    {{#if hasVoted}}
      Poll Results
    {{else}}
      Cast Your Vote
    {{/if}}
  {{/pollHeader}}

  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="h4">{{poll.title}}</span></div>
        <ul class="list-group">
          {{#each poll.options}}
            <li class="list-group-item">
              <h5 class="progress-title">{{this}}</h5>
              {{#if hasVoted}}
                {{> _pollResults poll}}
                {{else}}
                <button class="btn btn-primary" data-action="vote">Vote</button>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="_pollResults">
  {{#if votesForOption ..}}
    <div class="progress">
      <div class="progress-bar" role="progressbar"
        aria-valuenow="{{votesForOption ..}}" aria-valuemin="0"
        aria-valuemax="{{totalVotes}}" 
        style="width: {{percentOfTotal ..}}%;">
        {{votesForOption ..}} votes of {{totalVotes}}
      </div>
    </div>

    {{else}}
    No votes yet!
  {{/if}}
</template>
