<template name="Polls">
  {{#pollHeader}}
    Active Polls
  {{/pollHeader}}
  <ul class="list-group">
    {{#each polls}}
      {{> PollItem}}
      {{else}}
      <p>No polls found.</p>
    {{/each}}
  </ul>
</template>

<template name="PollItem">
  <li class="list-group-item poll-item">
    <h2>{{title}}</h2>
    <div class="action-buttons">
      <a href="{{pathFor 'poll' id=_id}}">
        <button type="button" class="btn btn-success btn-md">
          <i class="fa fa-eye"></i> View
        </button>
      </a>
      {{#if currentUser}}
        <a href="#">
          <button type="button" class="btn btn-danger btn-md">
            <i class="fa fa-times-circle"></i> Delete
          </button>
        </a>
      {{/if}}
    </div>
  </li>
</template>
