<template name="Polls">
  <div class="page-header">
    <h1>Polls:
     <button type="button" class="btn btn-default btn-lg pull-right submit-new-poll">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Make a new poll
      </button>
    </h1>
  </div>
  <ul class="list-group">
    {{#each polls}}
      {{> pollItem}}
    {{else}}
      <p>No polls found.</p>
    {{/each}}
  </ul>
</template>

<template name="pollItem">
  <li class="list-group-item poll-item">
    <h2>{{name}}</h2>
    <a href="{{pathFor 'poll' id=_id}}">
      <button type="button" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
      </button>
    </a>
    <button type="button" class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close
    </button>
  </li>
</template>
